/*------------------------------------------------------------------------------------------------------------
Mantenedor     : Alexandre Carneiro
Linguaguem     : CSS
Dependencia    :
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Modulo         : Definição de cores do sistema
------------------------------------------------------------------------------------------------------------*/

:root{
    /* ############################### footer ############################### */
    --footer-color: #ccc;
    /* ###################################################################### */

    /* ############################### navbar ############################### */

    /* ###################################################################### */

    /* ############################## tutorial ############################## */

    /* ###################################################################### */

    /* ############################## conteudo ############################## */

    /* ###################################################################### */

    /* Cores bases do sistema */
    --azul: #5394F2;
        --azul-escuro: #0a418f;
        --azul-claro: #70a7f5;
    --cinza: #6b7782;
        --cinza-claro: #ced4da;
    --gelo: #f7fbfb;
    --amarelo: #ffbd17;
    --vermelho: #ff415a;
    --preto: #000000;

    /* --cor-primaria: vermelho;
    --cor-secundaria: azul-claro;
    --cor-background */

}
