.imgSistema{
    height: 30px;
    width: 30px;
    float: right;
}

#paginaSistema{
    width: 100%;
    height: 85vh;

    background-image: url('../../img/imgsvg/svgAtt/desktop_sistemas.svg');
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-attachment: fixed;
    background-origin: border-box;
    background-color: var(--cinza-1-color);
}

.caseSistema{
    padding: 20px;
    padding-top: 120px;
}

.caseSistema label{
    font-size: 22px;
}

#paginaSistema .custom-control-label{
    float: left;
}

#paginaSistema h1{
    font-size: 2.5rem;
    font-weight: bold;
}

#paginaSistema h5{
}

#paginaSistema h4{
    text-align: center;
}

@media (max-width: 1000px){
    #paginaSistema{
        background-image: url('../../img/imgsvg/svgAtt/fundo_mobile.svg');
        background-size: auto;
        background-attachment: local;
    }
    #paginaSistema h1{
        text-align: left;
        }
    #paginaSistema h5{
        text-align: left;
    }
    .caseSistema{
        padding-top: 20px;
    }
    .caseSistema form-row{
        margin-top: 20px;
    }
}
