/*------------------------------------------------------------------------------------------------------------
Mantenedor     : Alexandre Carneiro
Linguaguem     : CSS
Dependencia    :
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Modulo         :
------------------------------------------------------------------------------------------------------------*/
/* ############################## CSS EM COMUM ############################## */
.conteudo{
    padding: 30px 30px 30px 30px ;
    color: var(--cinza);
}
.conteudo h1{
    font-weight: bold;
    /* margin-bottom: 30px; */
    font-size: 2em;
}

.icone-da-pagina{
    height: 80px;
    width: 80px;
}

.icone-pequeno-formulario{
    height: 25px;
    width: 25px;
}

.centraliza-in{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
}


.btn-primary{
    background-color: var(--azul);
    border-color: var(--azul);
}
.btn-primary:{
    background-color: var(--azul);
    border-color: var(--azul);
}

/* isso aqui deixa o checkbox com a cor azul certa */
.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--azul);
    border-color: var(--azul);
}

.custom-control-input.is-valid~.custom-control-label,
.was-validated .custom-control-input:valid~.custom-control-label {
    color: var(--cinza);
}

.custom-control-input.is-valid:checked~.custom-control-label::before,
.was-validated .custom-control-input:valid:checked~.custom-control-label::before {
    background-color: var(--azul);
    border-color: var(--azul);
}

.custom-control-input.is-valid~.custom-control-label::before,
.was-validated .custom-control-input:valid~.custom-control-label::before {
    border-color: var(--cinza-claro);
}

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none;
}
/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */

/* ############################# PAGINA INICIAL ############################# */
#pagina_inicial .row .row{
    height: auto;
}

#pagina_inicial .botao{
    width: 300px;
    background-color: var(--azul);
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: var(--gelo);
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    display: flex;
}

#pagina_inicial .botao img{
    text-align: left;
    flex-grow: 1;
}

#pagina_inicial .botao div{
    text-align: center;
    flex-grow: 9;
    padding: 5px;
}

#pagina_inicial .margem{
    margin: 10px;
}

#pagina_inicial .icone-page{
    height: 70px;
    width: 70px;
}
/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */

/* ########################### AGENDAR ATENDIMENTO ########################## */

#agendar_atendimento .form-control, .custom-select{
    width: min-content;
}

#agendar_atendimento .btn-primary{
    background-color: var(--azul);
    border-color: var(--azul);
}


/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */

/* ################################# SISTEMA ################################ */
/* #sistema h1{
    margin-bottom: 100px;
} */
/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */

/* ########################### ATENDIMENTO IMEDIATO ######################### */
#atendimento_imediato .case-atendimento{
    height: 250px;
    width: 250px;
    padding: 5px;

    text-align: center;

    border: 3px solid var(--azul);
    border-radius: 10px
}

#atendimento_imediato .col-4, .row{
    height: min-content;
}

#atendimento_imediato .col-4{
    margin-bottom: 40px;
    padding: 0 calc(6px + 1%);
}

#atendimento_imediato .case-atendimento img{
    height: 100%;
    width: 100%;
}

#atendimento_imediato h2{
    font-size: calc((4vh + 3vw) / 2);
    max-width: 60%;
    word-wrap: break-word;

    height: 2.5em;

    flex-direction: column;
    justify-content: flex-end;
    display: flex;
}
/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */


/* ################################ MUDAR SENHA ############################# */
#mudar_senha .form-control{
    width: max-content;
}
/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */

/* MODIFICAÇÕES NECESSARIA PARA MOBILE */
@media (max-width: 1400px){
    /* ############################ CSS EM COMUM ############################ */
    .conteudo{
        padding: 10px;
    }

    .icone_da_pagina{
        height: 50px;
        width: 50px;
    }

    .conteudo h1{
        font-size: 1.4em;
        margin-bottom: 25px;
    }

    #atendimento_imediato .case-atendimento{
        height: 125;
        width: 125;

        border: 2px solid var(--azul);
    }
    #atendimento_imediato h2{
        max-width: 100%;
    }
}
